.github
.github/
/github

# intellij files
.idea/

# MacOS sys files
.DS_STORE
.DS_Store

/LetterLeser/target/*
/LetterLeser/src/main/java/edu/oswego/database/settings"LetterLeser\src\main\java\edu\oswego\database\Settings.java" 
